<%= form_for(@emisora) do |f| %>
  <% if @emisora.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emisora.errors.count, "error") %> prohibited this emisora from being saved:</h2>

      <ul>
      <% @emisora.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :id_admin %><br>
    <%= f.number_field :id_admin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
