<p id="notice"><%= notice %></p>

<h1>Listing Localizacion Stats</h1>

<table>
  <thead>
    <tr>
      <th>Id user</th>
      <th>Id emisora</th>
      <th>Ciudad</th>
      <th>Pais</th>
      <th>Longitud</th>
      <th>Latitud</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @localizacion_stats.each do |localizacion_stat| %>
      <tr>
        <td><%= localizacion_stat.id_user %></td>
        <td><%= localizacion_stat.id_emisora %></td>
        <td><%= localizacion_stat.ciudad %></td>
        <td><%= localizacion_stat.pais %></td>
        <td><%= localizacion_stat.longitud %></td>
        <td><%= localizacion_stat.latitud %></td>
        <td><%= link_to 'Show', localizacion_stat %></td>
        <td><%= link_to 'Edit', edit_localizacion_stat_path(localizacion_stat) %></td>
        <td><%= link_to 'Destroy', localizacion_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Localizacion stat', new_localizacion_stat_path %>
