<%= form_for(@user_emisora) do |f| %>
  <% if @user_emisora.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_emisora.errors.count, "error") %> prohibited this user_emisora from being saved:</h2>

      <ul>
      <% @user_emisora.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idUser %><br>
    <%= f.number_field :idUser %>
  </div>
  <div class="field">
    <%= f.label :idEmisora %><br>
    <%= f.number_field :idEmisora %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
