<p id="notice"><%= notice %></p>

<h1>Listing Votaciones Historicos</h1>

<table>
  <thead>
    <tr>
      <th>Id emisora</th>
      <th>Cancion</th>
      <th>Votos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votaciones_historicos.each do |votaciones_historico| %>
      <tr>
        <td><%= votaciones_historico.id_emisora %></td>
        <td><%= votaciones_historico.cancion %></td>
        <td><%= votaciones_historico.votos %></td>
        <td><%= link_to 'Show', votaciones_historico %></td>
        <td><%= link_to 'Edit', edit_votaciones_historico_path(votaciones_historico) %></td>
        <td><%= link_to 'Destroy', votaciones_historico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Votaciones historico', new_votaciones_historico_path %>
